@using System.Web.Mvc.Expressions
@using Onixia.Models.PlayerAssets
@using OnixiaWebApplication.Models;
@model OnixiaWebApplication.Models.BuildingViewModel

<div class="item">
    <div class="title">
        @Model.Name
    </div>
    <div class="resources">
        <div class="res">
            <div class="logo metal"></div>
            <label class=""> @Model.ResourceRequirements.Metal </label>
        </div>
        <div class="res">
            <div class="logo crystal"></div>
            <label class="">@Model.ResourceRequirements.Crystal</label>
        </div>
        <div class="res">
            <div class="logo gas"></div>
            <label class="">@Model.ResourceRequirements.Gas</label>
        </div>
        <div class="res">
            <div class="logo energy"></div>
            <label class="">@Model.ResourceRequirements.Energy</label>
        </div>
        <div class="res">
            <div class="logo level"></div>
            <label>@Model.CurrentLevel</label>
        </div>
    </div>
    <div class="image"> </div>
    <div class="opt">
        <div class="description">
            @Model.Description
        </div>
        <div class="time" id="time">
            <div class="timer-logo"></div>
            <label class="@if (Model.IsBuilding)
                          {
                              @:Building 
                          }"> @String.Format(" {0} : {1} : {2}", Model.TimeLeft.Hours, Model.TimeLeft.Minutes, Model.TimeLeft.Seconds)</label>
        </div>
        <a href="">
            <div class="build">
                <div class="build-logo"></div>
                Build Level : @Model.CurrentLevel + 1
            </div>
        </a>
        <a href="">
            <div class="build">
                <div class="build-logo"></div>
                <label class="">Cancel Building</label>
            </div>
        </a>
    </div>
    @Html.ActionLink("Start Building", "CreateBuilding", "Buildings", new { name = Model.Name }, null)
</div>

@* Put in logic *@
<div class="separator"></div>