@model OnixiaWebApplication.Models.ShipViewModel

<div id="content">
    <div class="page">
        <form>
        <h2 class="title">Ships</h2>
        <div class="ship">
            <div class="image">
            </div>
            <div class="info">
                <div class="line">
                    <div class="title">Metal :</div>
                    <label class="value">@Model.ShipCost.Metal</label>
                </div>
                <div class="line">
                    <div class="title">Crystal :</div>
                    <label class="value">@Model.ShipCost.Crystal</label>
                </div>
                <div class="line">
                    <div class="title">Gas :</div>
                    <label class="value">@Model.ShipCost.Gas</label>
                </div>
                <div class="line">
                    <div class="title">Time needed</div>
                    <label class="value">@String.Format("{0:00} : {1:00} : {2:00} ", Model.BuildTime.Hours, Model.BuildTime.Minutes, Model.BuildTime.Seconds)</label>
                </div>
                <div class="line">
                    <div class="title">Available</div>
                    <div class="value">@Model.AvailableAmount</div>
                </div>
                <div class="line" style="background: none;">
                    @*@if ()
                        {
                            <div class="title">Build</div>
                            @Html.TextBoxFor(m => m)
                            <a href=javascript:setMaximum("{$s.id}",{floor $maxnum[$s.name]})>{floor $maxNum[$s.name]}</a>
                        }
                        else{
                            <div class="title">
                                <label class="err">@Model.</label>
                            </div>
                        }*@
                </div>
            </div>
        </div>
                    <div class="separator" style="float: left;"></div>
            <input class="submit ships" type="submit" value="Build"/>
        </form>
    </div>
</div>